.exemplo{
    display: none;
}

.container-fluid{
    background-color: #999;
    display: none;
}

.container-sm{
    border: 2px solid blue;
    margin-bottom: 30px;
    display: none;
}

.container-md{
    border: 2px solid crimson;
    margin-bottom: 30px;
    display: none;
}

.container-lg{
    border: 2px solid chocolate;
    margin-bottom: 30px;
    display: none;
}

.container{
    border: 5px dotted blue;
    padding: 10px;
    height: 300px;
}

.row{
    border: 2px solid purple;
    height:100%;
    padding: 10px;
    margin: 5px;
}

.col, .col-2, .col-6{
    border: 2px dashed red;
    height: 70px;
    margin: 0px 5px;
}